Repository ProBotOrg/locale, pull requests merged in 2022-09, with the labels that each got.

#364 fix color typo
  en/bot.json
Labels: Bot Strings

#361 new vip strings
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#363 Improvements
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#365 New website string.
  en/website.json
Labels: Website Strings

#368 temp max users
  en/website.json
Labels: Website Strings

#371 feat: xp command strings
  en/bot.json
  en/website.json
  examples.json
Labels: Website Strings, Bot Strings, Example & Usage, ✅ Ready To Merge

#376 hotfix
  en/bot.json
Labels: Bot Strings

#380 Improvements
  en/website.json
Labels: Website Strings

#382 stats
  en/website.json
Labels: Website Strings
