Repository ProBotOrg/locale, pull requests merged in 2022-11, with the labels that each got.

#417 better context
  en/bot.json
Labels: Bot Strings

#416 improvements to workflow
  .github/auto_assign.yml
  .github/workflows/assign-reviewers.yml
Labels: ✅ Ready To Merge

#419 reaction roles strings
  en/website.json
Labels: Website Strings

#425 better context
  en/bot.json
Labels: Bot Strings

#424 Improvement
  en/website.json
Labels: Website Strings

#422 validate strings
  en/website.json
Labels: Website Strings

#420 Color string
  en/bot.json
Labels: Bot Strings

#423 Improvements
  examples.json
Labels: Example & Usage

#421 DJ Roles info
  en/website.json
Labels: Website Strings

#428 New strings
  en/bot.json
Labels: Bot Strings

#429 vote & daily commands strings
  en/bot.json
  en/website.json
  examples.json
Labels: Website Strings, Bot Strings, Example & Usage

#430 Send auto-responder as reply ping or without
  en/bot.json
Labels: Bot Strings

#432 wrong place : (
  en/bot.json
Labels: Bot Strings

#431 Auto Responder Strings
  en/website.json
Labels: Website Strings

#434 Improvements 😉
  en/website.json
Labels: Website Strings

#440 edited vote
  en/bot.json
Labels: Bot Strings

#442 dramex suggestion
  en/bot.json
Labels: Bot Strings

#441 vote improvement
  en/website.json
Labels: Website Strings

#439 button limit variable
  en/website.json
Labels: Website Strings

#438 rr notification strings
  en/website.json
Labels: Website Strings

#437 daily-web
  en/website.json
Labels: Website Strings

#436 daily-bot
  en/bot.json
Labels: Bot Strings

#444 button validate message
  en/website.json
Labels: Website Strings

#446 Update website.json
  en/website.json
Labels: Website Strings

#450 missing s word for points
  en/bot.json
Labels: Bot Strings

#453 mute admin perms
  en/bot.json
Labels: Bot Strings
