Repository ProBotOrg/locale, pull requests merged in 2022-10, with the labels that each got.

#381 Improvement, and typo fixes.
  en/website.json
Labels: Website Strings

#385 levels strings
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#388 examples levels
  en/website.json
  examples.json
Labels: Website Strings, Example & Usage, ✅ Ready To Merge

#391 Improvements, and word replacement.
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#392 update to coupon
  en/website.json
Labels: Website Strings

#395 Improvements
  en/website.json
Labels: Website Strings

#396 warnings page string
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#394 change setxp - setlevel description
  en/website.json
Labels: Website Strings, ✅ Ready To Merge

#397 A little mistake fixed
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#401 level changed string
  en/bot.json
Labels: Bot Strings

#400 changed string to make it more understandable
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#399 changed string to make it more understandable
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#366 feat: reaction components
  en/bot.json
  en/website.json
Labels: Website Strings, Bot Strings, ✅ Ready To Merge

#402 point page string
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#403 new rr strings
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#393 Change few lines
  en/bot.json
Labels: Bot Strings, ✅ Ready To Merge

#404 role bulk with role option
  en/bot.json
Labels: Bot Strings

#405 Improvements
  en/bot.json
Labels: Bot Strings

#406 Lists
  en/website.json
Labels: Website Strings

#409 Improvements, as always.
  en/website.json
Labels: Website Strings, ✅ Ready To Merge

#408 Improvements on premium strings.
  en/website.json
Labels: Website Strings

#410 test
  en/website.json
Labels: Website Strings

#411 another test
  en/website.json
Labels: Website Strings

#413 Fixed the terms & privacy policy & refund
  en/website.json
Labels: Website Strings

#414 ty Fnr
  en/website.json
Labels: Website Strings
