Repository ProBotOrg/locale, pull requests merged in 2022-12, with the labels that each got.

#455 new strings
  en/bot.json
Labels: Bot Strings

#461 : /
  en/bot.json
Labels: Bot Strings

#466 add nowplaying
  examples.json
Labels: Example & Usage

#468 temp validation
  en/website.json
Labels: Website Strings

#469 new string for bot activity
  en/website.json
Labels: Website Strings

#471 new premium strings
  en/website.json
Labels: Website Strings

#474 vip whitelist strings
  en/bot.json
Labels: Bot Strings

#477 string improvements
  en/bot.json
Labels: Bot Strings

#479 move all string reply edit
  en/bot.json
Labels: Bot Strings

#480 move all description
  en/bot.json
Labels: Bot Strings

#483 new vip string
  en/website.json
Labels: Website Strings

#484 role kick strings
  en/bot.json
Labels: Bot Strings
