Repository ProBotOrg/locale, pull requests merged in 2022-08, with the labels that each got.

#331 new music changes strings
  en/bot.json
Labels: Bot Strings

#324 leveling reward title
  en/bot.json
Labels: Bot Strings

#336 feat: lock reason
  en/bot.json
  examples.json
Labels: Bot Strings, Example & Usage

#338 bot require new invite
  en/website.json
Labels: Website Strings

#328 Commands description strings
  en/website.json
Labels: Website Strings

#341 Update bot.json
  en/bot.json
Labels: Bot Strings

#345 channel already locked
  en/bot.json
Labels: Bot Strings

#344 reset slash description
  en/bot.json
Labels: Bot Strings

#347 old user level
  en/website.json
Labels: Website Strings

#349 Improvements
  en/website.json
  index.js
Labels: Website Strings

#348 old level in default levelup message
  en/website.json
Labels: Website Strings

#350 fix mute example
  examples.json
Labels: Example & Usage

#352 New string
  en/bot.json
Labels: Bot Strings

#351 temp module
  en/website.json
Labels: Website Strings

#357 Some string improvements.
  en/bot.json
Labels: Bot Strings

#355 temp channels
  en/website.json
Labels: Website Strings

#359 bot strings improvements
  en/bot.json
Labels: Bot Strings

#358 website: strings improvements, typo fixes
  en/website.json
Labels: Website Strings
